.caminante{
    height: 500px;
    width: 500px;
    background: url("Caminante/walker_frames.png");
    animation: correr 1s steps(10) infinite;
    left: 80%;
    margin: auto;

}

.camin{
    margin-left: 100rem;
    animation: camin 10s infinite;
    animation-timing-function: linear;
}
@keyframes camin{
    100%{
        margin-left: -130rem
    }
}

@keyframes correr{
    0%{background-position: 0px 0px;}
    100%{background-position: 0px -5000px ;}
}

