body{
    background-image: url("imagenes/sky.jpg");
    background-size: 100%;
    overflow: hidden;
}

#nube{
    animation-name: nube;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    position: relative;
    width: 20vw;
    

}

#nube2{
    animation-name: nube2;
    animation-duration: 9s;
    position: relative;
    animation-iteration-count: infinite;
    width: 20vw;
    top: 10vh;
}

@keyframes nube{
    0%{top: 0;left: -30%;}
    100%{left: 110%;}
    

}

@keyframes nube2{
    0%{top: 30vh;left: -50%;}
    100%{ top:30vh; left:100%;}
}

